.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.login-button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}